[Unit]
Description=Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 PATH/TO/fan_ctrl.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
